*{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

/* diseño de los cajas */

h1{
    background-color: blanchedalmond;
    height: 100px;
    position: sticky;
    left: 0;
    z-index: 2;
}


.caja1{
    border-top: 2px solid rgb(145, 98, 12);
    margin-top: 100px;
    padding-top: 10px;
}
.caja2{
    margin-top: 10px;
}

/* elementos en linea */

.caja1 section article{
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin-left: 50px;
    /* background: rgb(229, 243, 229); */
}

.caja1 section header{
    font-size: 3em;
}

/* elementos personalizados */

.parrafo{
 font-size: 2em;
 line-height: normal;
} 

/* menu */
#menu{
    position: fixed;
    top: 10px;
    left: -200px;
    width: 200px;
    height: 100%;
    background: black;
    border: 1px solid black;
    transition: all 500ms linear;
}

.linea{
    display: inline-block;
}

#menu .btn-acti{
    background-color: blanchedalmond;
    position: absolute;
    left: 200px;
    top: -2px;
    width: 2000px;
    padding-top: 10px;
    margin-top: 0;
    cursor: pointer;
}

#menu .btn-acti span{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
}
#menu.active{
    left: 0;
  }
  
  #menu  nav ul li{
      color: blanchedalmond;
      text-align: center;
      padding: 15px 10px;
      border-bottom: 2px solid lavender;
      color: blanchedalmond;
  }
  
 
  
  #menu ul li a{
      color: rgba(253, 253, 255, 0.822);
      font-size: 3em;
  }
  /* noticias */
  .caja2{
      border-bottom: 2px solid rgb(173, 122, 27);
      margin-top: 20px;
  }
  .caja2 section header{
      font-size: 3em;
  }

  .subcaja{
      margin-top: 20px;
      margin-bottom: 20px;
  }
 .subcaja article{
     width: 700px;
     height: 500px;
     margin-top: 20px;
     border: 2px solid black;
     padding: 15px;
 }

 .subcaja article p{
     font-size: 30px;
     color: black;
     margin-top: 5px;
 }



  /* footer */
 .caja3{
     margin: 30px;
     background: rgb(30, 28, 43);
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 0;
     padding: 20px;
     height: 400px;
 }

 .caja3 p{
     font-size: 3em;
     color: blanchedalmond;
 }
  

